* {
  box-sizing: border-box;
}

body {
  background-color: rgba(250, 128, 114, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}

.fill {
  background: #72cbf1;
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: white;
  border-style: dashed;
}

